#backgroundvid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#backgroundvid video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

#semitransparent {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    background-color: rgba(255, 255, 255, 0.2);
}

.content {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 50%;
    border-radius: 15px;
    margin: 20px;
}

.topthree, .bottomthree {
    box-sizing: content-box;
    height: 90%;
    margin: 0 10px;
    border-radius: 15px;
    background-color: lightgray;
}

#topleft, #bottomleft, #topright, #bottomright {
    width: 25%;
}

#topcenter, #bottomcenter {
    width: 40%;
}

