#backgroundvid {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#backgroundvid video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

#semitransparent {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.4px);
    -webkit-backdrop-filter: blur(8.4px);
    border: 1px solid rgba(255, 255, 255, 0.67);
}

.content {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 50%;
    border-radius: 15px;
    margin: 20px;
}


.topthree, .bottomtwo {
    box-sizing: content-box;
    height: 90%;
    margin: 0 10px;
    border-radius: 15px;

}

#topcontent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 40%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    border-top: 2px solid rgba(255, 255, 255, 0.5);
    border-left: none;
    border-right: none;

}

#topleft {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    flex-wrap: wrap;
}

#bottomleft, #bottomright {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: "Bebas Neue", sans-serif;
    /*shrink even faster than default to prevent overflow*/
    font-size: clamp(12px, 3vw + 1vh, 100px);
    flex-shrink: 3;
    color: white;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    white-space: nowrap;
}

#headertext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

#topheader{
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* responsive font: will grow to available space but stay within limits */
    font-size: clamp(24px, 6vw + 1vh, 200px);
    line-height: 1;
    white-space: nowrap; /* remove if you want wrapping */
    flex: 1 1 auto; /* allow grow & shrink */
    margin: 0;
}

#gulbylogo {
    width: 160px;
    height: auto;
    justify-content: center;
    flex-shrink: 1;
    min-width: 50px;
}   

#bottomcontent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 40%;    
    border-left: none;
    border-right: none;
}

#subheader {
    font-family: "Bebas Neue", sans-serif;
    color: white;
    text-align: center;
    font-size: clamp(12px, 3vw + 1vh, 100px);
    margin: 0;
}